body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.Barra-nav {
    background-color: #333; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column; 
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 10px 0; 
}
.Esta {
    color: purple;
}

.nav-links a {
    text-decoration: none;
    
    font-weight: bold;
}

h1 {
    text-align: center;
    color: gray;
}

p {
    text-align: justify;
}

img {
    display: block;
    margin: 0 auto; 
}

.Portada {
    width: 500px;
    height: auto;
}

